.section-risen{
    margin: 50px 25px;
    border: 1px solid #000;
    border-radius: 25px;
    box-shadow: 0px 5px 5px black;
    padding: 15px 25px 25px 25px;
    button{
        width: 400px;
    }
}
